<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yyl.user.mapper.UserMapper">

    <resultMap id="BaseResultMap" type="com.yyl.pojo.User">
            <id property="userId" column="user_id" jdbcType="BIGINT"/>
            <result property="userName" column="user_name" jdbcType="VARCHAR"/>
            <result property="userPassword" column="user_password" jdbcType="VARCHAR"/>
            <result property="userMobile" column="user_mobile" jdbcType="VARCHAR"/>
            <result property="userScore" column="user_score" jdbcType="INTEGER"/>
            <result property="userRegTime" column="user_reg_time" jdbcType="TIMESTAMP"/>
            <result property="userMoney" column="user_money" jdbcType="DECIMAL"/>
    </resultMap>

    <sql id="Base_Column_List">
        user_id,user_name,user_password,
        user_mobile,user_score,user_reg_time,
        user_money
    </sql>
</mapper>
