<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yyl.user.mapper.UserMoneyLogMapper">

    <resultMap id="BaseResultMap" type="com.yyl.pojo.UserMoneyLog">
            <id property="userId" column="user_id" jdbcType="BIGINT"/>
            <id property="orderId" column="order_id" jdbcType="BIGINT"/>
            <id property="moneyLogType" column="money_log_type" jdbcType="INTEGER"/>
            <result property="useMoney" column="use_money" jdbcType="DECIMAL"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        user_id,order_id,money_log_type,
        use_money,create_time
    </sql>
</mapper>
