<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="generator.mapper.MqProducerTempMapper">

    <resultMap id="BaseResultMap" type="com.yyl.pojo.MqProducerTemp">
            <id property="id" column="id" jdbcType="VARCHAR"/>
            <result property="groupName" column="group_name" jdbcType="VARCHAR"/>
            <result property="msgTopic" column="msg_topic" jdbcType="VARCHAR"/>
            <result property="msgTag" column="msg_tag" jdbcType="VARCHAR"/>
            <result property="msgKey" column="msg_key" jdbcType="VARCHAR"/>
            <result property="msgBody" column="msg_body" jdbcType="VARCHAR"/>
            <result property="msgStatus" column="msg_status" jdbcType="INTEGER"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,group_name,msg_topic,
        msg_tag,msg_key,msg_body,
        msg_status,create_time
    </sql>
</mapper>
